<!DOCTYPE html>
<html>
  <head>
    <title>VotesForGoats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <div class='nav'>
      <img class='logo' src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXvQcTQ4zgABpqOwFbN-9AZqK11xRNhpdatnlCpkaRSqxvr_dG&usqp=CAU" alt="goatlogo">
    </div>

      <ul>
        <li><%= link_to 'User Home', users_path %></li>
        <li><%= link_to 'Goat Home', goats_path %></li>
        <li><%= link_to 'New Goat', new_goat_path %></li>

        <% if @current_user %>
          <li class='right'>Welcome <%= @current_user.name %> </li>
          <li class='right'><%= link_to 'Log Out', log_out_session_path, method: :delete %></li>
        <% else %>
          <li class='right'><%= link_to 'Sign-up', new_user_path %></li>
          <li class='right'><%= link_to 'Log-in', new_login_path %></li>
        <% end %>
      </ul>

    <%= yield %>
  </body>
</html>
