
<% if session[:page_counter] > 0 %>
  <div class='container'>
    <h1>Show Page</h1>
    <h2 style="color: purple;">You have <%= session[:page_counter] %> views left until our site cashes in</h2>

    <h2><%= @goat.name %></h2>
    <p>Age: <%= @goat.age %></p>
    <p>Occupation: <%= @goat.occupation %></p>
    <p>Life Status: <%= @goat.living ? "ALIVE!!" : "History Remembers" %></p>

    <p>Total Likes: <%= @goat.total_likes %></p>

    <marquee direction='right' scrollamount='15'>
      <img class='show-img' src="<%= @goat.img_url %>" alt="<%@goat.name%>">
    </marquee>

    <hr>
    <%= link_to "INDEX PAGE", goats_path %>
    <br>
    <%= link_to "Edit this GOAT", edit_goat_path(@goat.id) %>
    <%# button_to "Edit this GOAT", edit_goat_path(@goat.id), method: :get %>

  </div>
<% else %>
  <iframe width="764" height="573" src="https://www.youtube.com/embed/0kYYiRmtMH4?list=PL0E12D3DB9229B41D" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <%= button_to "I promise I watched this amazing Advertisment", reset_session_path, method: :patch %>

<% end %>